mixin createMockForm(userLoggedIn)
    .mockFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textareaContainer
            textarea#mockTextarea(placeholer="What's happening?")
            .buttonsContainer
                button#submitMockBtn(disabled="") Mock

mixin createReplyMockModal(userLoggedIn)
    #replyMockModal.modal.fade(tabindex="-1" aria-labelledby="replyMockModalLabel" aria-hidden="true")
        .modal-dialog
            .modal-content.bg-dark
                .modal-header
                    h5#replyMockModalLabel.modal-title Reply
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close") &times;
                .modal-body
                    #originalMockContainer
                    .mockFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="User's profile picture")
                        .textareaContainer
                            textarea#replyMockTextarea(placeholer="What do you want to say?")
                .modal-footer
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                    button#submitReplyMockBtn.btn.btn-primary(type="button" data-bs-dismiss="modal" disabled="") Reply

mixin createDeleteMockModal()
    #deleteMockModal.modal.fade(tabindex="-1" aria-labelledby="deleteMockModalLabel" aria-hidden="true")
        .modal-dialog
            .modal-content.bg-dark
                .modal-header
                    h5#deleteMockModalLabel.modal-title Delete Mock
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close") &times;
                .modal-body
                    p Are you sure you want to delete this?
                .modal-footer
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                    button#deleteMockBtn.btn.btn-primary(type="button" data-bs-dismiss="modal") Delete

mixin createMockModals(userLoggedIn)
    +createReplyMockModal(userLoggedIn)
    +createDeleteMockModal()
    +createPinMockUploadModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? 'Following' : 'Follow'
    - buttonClass = isFollowing ? 'followButton following' : 'followButton'
    button(class=buttonClass data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? 'tab active' : 'tab'
    a(href=href class=className)
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex="-1" aria-labelledby="imageUploadModalLabel" aria-hidden="true")
        .modal-dialog
            .modal-content.bg-dark
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload a new profile picture
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close") &times;
                .modal-body
                    input#filePhoto(type="file" name="filePhoto")

                    .imagePreviewContainer
                        img#imagePreview

                .modal-footer
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                    button#imageUploadBtn.btn.btn-primary(type="button") Save

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex="-1" aria-labelledby="coverPhotoUploadModalLabel" aria-hidden="true")
        .modal-dialog
            .modal-content.bg-dark
                .modal-header
                    h5#coverPhotoUploadModalLabel.modal-title Upload a new cover photo
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close") &times;
                .modal-body
                    input#coverPhoto(type="file" name="filePhoto")

                    .coverPhotoPreviewContainer
                        img#coverPhotoPreview

                .modal-footer
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                    button#coverPhotoUploadBtn.btn.btn-primary(type="button") Save

mixin createPinMockUploadModal()
    #confirmPinModal.modal.fade(tabindex="-1" aria-labelledby="confirmPinModalLabel" aria-hidden="true")
        .modal-dialog
            .modal-content.bg-dark
                .modal-header
                    h5#confirmPinModalLabel.modal-title Pin this mock?
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close") &times;
                .modal-body
                    p While pinned, the mock will appear at the top of your profile. You can only pin one mock.

                .modal-footer
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                    button#pinMockBtn.btn.btn-primary(type="button" data-bs-dismiss="modal") Pin
